body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.1;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--primary-text-color);
  background-color: var(--grey-100);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  --primary-color: hsl(202deg, 91%, 13%);
  --primary-text-color: #526581;
  --secondary-text-color: var(--grey-900);
  --thirtry-text-color: var(--grey-800);
}

:root {
  --fs-1: 1rem;
  --fs-2: 1.2rem;
  --fs-3: 1.4rem;
  --fs-4: 1.6rem;
  --fs-5: 1.8rem;
  --fs-6: 2rem;
  --fs-7: 2.2rem;
  --fs-8: 2.4rem;
}

:root {
  --white: rgb(255, 255, 255);
  --white-opacity: rgb(255, 255, 255, 0.3);
  --blue: #1890FF;
  --light-blue: #6fb6fa;
  --yellow: #F8D96D;
  --dark-yellow: #efbe00;
  --red: #ED3D3D;
  --green: #7DD76F;
  --color-grey-dark-1: hsl(202deg 91% 13%);
  --color-grey-dark-2: hsl(209deg 29% 41%);
  --grey-100: hsl(0deg 0% 96%);
  --grey-200: hsl(0deg 0% 93%);
  --grey-300: hsl(0deg 0% 88%);
  --grey-400: hsl(0deg 0% 74%);
  --grey-500: hsl(0deg 0% 62%);
  --grey-600: hsl(0deg 0% 46%);
  --grey-700: hsl(0deg 0% 38%);
  --grey-800: hsl(0deg 0% 26%);
  --grey-900: hsl(0deg 0% 13%)
}

:root {
  --background-light-color-with-opacity: 240, 240, 240;
  --background-light-color-: var(--grey-100);
}

:root {
  --alpha: .5;
}

:root {
  --default-transition: .3s;
}

:root {
  --primary-shadow: 0 4px 10px 0 rgba(0 , 0, 0, 25%);
  --small-shadow: 0 0 4px 0 rgba(0 , 0, 0, 25%);
  --secondary-shadow: 0 0 20px 0 rgba(0 , 0, 0, 25%);
  --half-hor-shadow: 4px 0 20px 0 rgba(0 , 0, 0, 25%);
}

:root {
  --b-radius-1: .5rem;
  --b-radius-2: 1rem;
  --b-radius-3: 1.5rem;
  --b-radius-4: 2rem;
  --b-radius-5: 2.5rem;
  --b-radius-6: 3rem;
  --b-radius-7: 3.5rem;
  --b-radius-8: 4rem;
}

