:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--primary-text-color);
  background-color: var(--grey-100);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.1;
}

:root {
  --primary-color: hsl(202deg, 91%, 13%);
  --primary-text-color: #526581;
  --secondary-text-color: var(--grey-900);
  --thirtry-text-color: var(--grey-800);
}


:root {
  --white: rgb(255, 255, 255);
  --blue: #007AFF;
  --yellow: #F8D96D;
  --red: #ED3D3D;
  --green: #7DD76F;
  --color-grey-dark-1: hsl(202deg 91% 13%);
  --color-grey-dark-2: hsl(209deg 29% 41%);
  --grey-100: hsl(0deg 0% 96%);
  --grey-200: hsl(0deg 0% 93%);
  --grey-300: hsl(0deg 0% 88%);
  --grey-400: hsl(0deg 0% 74%);
  --grey-500: hsl(0deg 0% 62%);
  --grey-600: hsl(0deg 0% 46%);
  --grey-700: hsl(0deg 0% 38%);
  --grey-800: hsl(0deg 0% 26%);
  --grey-900: hsl(0deg 0% 13%)
}

:root {
  --background-light-color-with-opacity: 240, 240, 240;
  --background-light-color-: var(--grey-100);
}

:root {
  --alpha: .5;
}
